@CHARSET "ISO-8859-1";

.vertical-menu {
  width: 200px; /* Set a width if you like */
  height: 100%;
}

.vertical-menu a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: #A9BCF5; /* Add a green color to the "active/current" link */
  color: white;
  display: block; /* Make the links appear below each other */
}

* {
  box-sizing: border-box;
}

/* Create a column layout with Flexbox */
.row {
  display: flex;
}

/* Left column (menu) */
.left {
  flex: 15%;
  padding: 15px 0;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}

.left h2 {
  padding-left: 8px;
}

/* Right column (page content) */
.right {
  flex: 85%;
  padding: 15px;
  border-top-right-radius:3px;
  border-bottom-right-radius:3px;
}

/* Style the search box */
#mySearch {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border:1px solid #ddd;
}

/* Style the navigation menu inside the left column */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myMenu li a {
  backgrxound-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myMenu li a:hover {
  background-color: #eee;
}

.center{
  margin-left : 40%;
}


.tablink {
  background-color: #555;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 33.1%;
  transition: 0.5s;
  text-decoration: none;
}

.tablink:hover {
  background-color: #777;
}

.marg3{
	margin-bottom: 3px;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: grey;
  display: none;
  padding: 3px 0px;
  height: 100%;
}

#Home {background-color: red;}
#News {background-color: green;}
#Contact {background-color: blue;}
#About {background-color: orange;}

@media only screen and (max-width:1420px) {
 	.tablink {
 		background-color: #555;
	  	color: white;
	  	border: none;
	  	outline: none;
	  	cursor: pointer;
	  	padding: 14px 16px;
	  	font-size: 17px;
	  	width: 100%;
	  	margin-bottom: 3px;
	  	transition: 0.5s;
	}
}