.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid grey;
}

.table th, td{
  text-align: left;
  padding: 8px;
}

.table th{
  background-color: #D8D8D8;
}


.table tr:nth-child(even){background-color: white}